@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Unbounded:wght@200..900&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  font-size: clamp(14px, 2vw, 24px);
  --accent-color: rgb(255, 194, 14);
  --light-text: #fff;
  --dark-text: #000;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  max-width: 2000px;
  padding-inline: clamp(10px, 5vw, 40px);
  margin-inline: auto;
  overflow-x: hidden;
  background-size: cover;
}

header {
  margin: 1rem 0 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;

}

.menu {
  display: flex;
  flex-direction: row;
  height: fit-content;
  gap: 1.5rem;
}

.logo {
  width: 8rem;
}

@media screen and (max-width: 450px) {
  .logo {
    width: 6rem;
  }
}

.button,
.button:visited {
  display: grid;
  align-items: center;
  width: fit-content;
  transition: all 0.3s ease-out;
  font-size: 1rem;
  line-height: 1;
  color: black;
  text-decoration: none;
  text-align: center;
  border-radius: 2em;
  background-color: white;
  padding: .5em 1.5em;
  border: .15rem solid var(--accent-color);
}

.button:hover {
  transform: scale(1.2);
  background-color: var(--accent-color);
  color: white;
  filter: drop-shadow(-40px 50px 30px rgba(107, 73, 0, 0.2))
          drop-shadow(-20px 20px 10px rgba(107, 73, 0, 0.1));
}

.button:active {
  transform: scale(1);
  filter: none;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(20px, 7vw, 40px);
}

.hero-text {
  position: sticky;
  top: 1rem;
  width: 100%;
  max-width: 50vw;
  height: fit-content;
}

.cover {
 position: relative;
}

.money {
  position: absolute;
  width: 300px;
  right: 0;
  transition: all 0.5s ease-out;
}

.hero-image {
  position: relative;
  margin-top: 5rem;
  transition: all 0.5s ease-out;
  width: 100%;
  max-width: 50vw;

  filter: drop-shadow(-40px 50px 30px rgba(0, 0, 0, 0.2))
          drop-shadow(-20px 20px 10px rgba(0, 0, 0, 0.1)); 
}

.cover-image {
  position: sticky;
  top: 1rem;
}

.cover-image:hover .hero-image {
  transform: rotate(-20deg);
}

.cover-image:hover .money {
  transform: rotate(20deg);
}

h1 {
  font-family: "Unbounded", sans-serif;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  margin-top: 8rem;
  font-family: "Unbounded", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
  text-align: center;
}

p {
  font-size: 1rem;
  line-height: 1.3;
}

.fullsuze-text {
  width: 100%;
  max-width: 1000px;
  margin-inline: auto;
  margin-top: 1rem;
}

.highlight {
  background-color: var(--accent-color);
}

.hero-text p {
  margin-top: 1rem;
}

h3 {
  font-size: 1.2rem;
}

.hero-text h3 {
  font-weight: 400;
}

.args {
  margin-top: 8rem;
  align-items: center;
}

.args h2 {
  margin-top: 0;
  text-align: left;
}

.args p {
  margin-bottom: 2.5rem;
}

.args p:last-child {
  margin-bottom: 0;
}

.args-image {
  width: 80%;
}

.team, .team-persons {
  display: grid;
  gap: 1rem;
}

.team {
  margin-top: 5rem;
}

.team-head {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.team-persons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.manager {
  transform: rotate(-20deg);
  z-index: 4;
}

.editor {
  transform: rotate(20deg);
}

.illustrator {
  transform: rotate(-10deg);
}

.person-wrapper {
  width: clamp(300px, 30vw, 500px);
  position: relative;
}

.card {
  width: 100%;
  position: relative;
  /* aspect-ratio: 3/4; */
  aspect-ratio: 1/1;
  /* aspect-ratio: 4/3; */

  object-fit: cover;
  border-radius: 2rem;
  overflow: hidden;
  transition: all 0.5s ease-out;
  background-color: white;
  /* border: .3rem solid var(--accent-color) */
}

.card:hover {
  transform: rotate(0deg) scale(1.2);

  filter: drop-shadow(-40px 50px 30px rgba(0, 0, 0, 0.2))
          drop-shadow(-20px 20px 10px rgba(0, 0, 0, 0.1));
}

.card-photo {
  width: 100%;
  height: 100%;
}

.card-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bio {
  position: absolute;
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 1.5rem;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0), #000);

}

.bio h3 {
  font-size: .8rem;
}

.bio p {
  font-size: .7rem;
}

.job {
  display: none;
}

.bio .description {
  margin-top: .5rem;
  transition: all 0.5s ease-out;
  max-width: 600px;
}

.manager-note {
  position: absolute;
  width: 20vw;
  /* max-width: 380px; */
  right: -23vw;
  top:10%;
  z-index: 5;
}

.editor-note {
  position: absolute;
  width: 11vw;
  top: -34%;
  z-index: 5;
}

.illustrator-note {
  position: absolute;
  width: 20vw;
  bottom: -30%;
  left: -20vw;
  z-index: 5;
}

.active {
  flex: 7;
  filter: grayscale(0);
}

.active .bio {
  transform: translate(0, 0);
}

@media screen and (max-width: 850px) {
  .team-persons {
    grid-template-columns: 1fr;
  }
  .job {
    display: block;
  }
  .manager-note {
    display: none;
  }
  .editor-note {
    display: none;
  }
  .illustrator-note {
    display: none;
  }
  .person-wrapper {
    width: clamp(300px, 100%, 400px);
  }
  .card {
    transform: scale(1);
  }
  .card:hover {
    transform: scale(1);
    filter: none;
  }
}

@media screen and (max-width: 1400px) {
  .bio h3 {
    font-size: .7rem;
  }
  
  .bio p {
    font-size: .6rem;
  }
}

@media screen and (max-width: 1000px) {
  .bio h3 {
    font-size: 14px;
  }
  
  .bio p {
    font-size: 12px;
  }
}

@media screen and (max-width: 850px) {
  .col-2 {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .hero-text {
    max-width: 100%;
  }
  .hero-image {
    max-width: 100%;
  }
  .card {
    width: 100%;
  }
}


.video-section {
  margin-top: 12rem;
}

.video {
  position: relative;
  margin-inline: auto;
  margin-top: 3rem;
  overflow: hidden;
  width: 60vw;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 2rem;
  filter: drop-shadow(-40px 50px 30px rgba(0, 0, 0, 0.2))
          drop-shadow(-20px 20px 10px rgba(0, 0, 0, 0.1)); 
}

@media screen and (max-width: 1200px) {
  .video {
    width: 100%;
  }
}

.video video {
  width: 100%;
}

.play-btn {
  position: absolute;
  width: 8rem;
  height: 8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 3;
}

.overlay {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  z-index: 1;
  transition: all 0.5s ease-out;
}

.poster {
  width: 100%;
  transform: scale(1.2); /* Потом убрать, когда будет нормальное превью */
  object-fit: cover;
}

.overlay:hover {
  filter: grayscale(0);
  cursor: pointer;
}

.hidden {
  z-index: 0;
  opacity: 0;
}

footer {
  margin: 2rem 0;
  margin-top: 8rem;
}

footer p {
  font-size: .8rem;
}

@media screen and (max-width: 850px) {
  h2 {
    margin-top: 6rem;
  }
  .video-section {
    margin-top: 6rem;
  }
  .team {
    margin-top: 2rem;
  }
  .video {
    margin-top: 2rem;
  }
}